<header id="header">
  <div>
    <a class="" href="/">Property Lister</a>
  </div>
  <nav class="">
    <div class="">
      <a class="" href="">Register</a>
      <a class="" href="">Login</a>
    </div>
  </nav>
</header>
