<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <!-- Header styles -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <!-- Page styles -->
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <title> Login into E-Commerce </title>

</head>

<body>


  <header id="header"><%- include('partials/_header') %></header>

<div class="main-login"
  <center></center>
    <main style="margin: 1em">
      <h3 id="login-title"> Login into E-Commerce</h3>

        <form class="form-incline" action="/login" method="POST">
          <div id="email-stuff"
          <label class="email-label" for="email"> Enter your email address here:</label>
          <input type="email" name="email" placeholder="@useremail.com:">
        </div>
          <br />
        <div id="password-stuff"
        <label for="password"> Enter your password here:</label>
          <input type="password" name="password" placeholder="Enter Password:">
      </div>
          <br />
      <div id= "button-stuff"
          <button type="submit" class="login-button">LOGIN</button>
    </div>
        </form>
          <div/>

    </main>
</div>
</body>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>
