#favorite-header {
  display:flex;
  justify-content: center;
  margin-top:80px;
  font-size: 60px;
}


#fav-image {
  width:25%;
  height: 25%;
}

.body-container {
  display: flex;
  flex-direction: column;
}
