#main {
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#main .filter {
  text-align: center;
  color: black;
}

#main .col {
  padding: 10px 10px;
}

#main .card {
  max-width: 100%;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

#main .card:hover,
#main .card:focus {
  color: inherit;
  text-decoration: none;
}

#main .card .card-title {
  font-weight: bold;
}

#main .card .cost {
  font-style: italic;
}

#main .fa-gratipay {
  text-align: right;
}
#main .card img {
  height: 400px;
  object-fit: cover;
}

#main .fa-star {
  color: red;
}

#main .property-actions {
  display: flex;
  gap: 10px;
}

#main .property-action {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
