#main {
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#main .filter {
  text-align: center;
  color: black;
}

#main .col-4 {
  padding: 10px 10px;
}

#main .card {
  max-width: 100%;
  cursor: pointer;
}

#main .card .card-title {
  font-weight: bold;
}

#main .card .cost {
  font-style: italic;
}

#main .fa-gratipay {
  text-align: right;
}
#main .card img {
  height: 400px;
}
